URxvt.color0: White
URxvt.color10: Black
URxvt.color11: Black
URxvt.color12: Black
URxvt.color13: Black
URxvt.color14: Black
URxvt.color15: Black
URxvt.color1: Black
URxvt.color2: Black
URxvt.color3: Black
URxvt.color4: Black
URxvt.color5: Black
URxvt.color6: Black
URxvt.color7: Black
URxvt.color8: Black
URxvt.color9: Black
URxvt.cutchars: '`"\'&()*,;<=>?@[]^{|}:'
URxvt.font: xft:monospace:size=14
URxvt.internalBorder: 0
URxvt.iso14755: False
URxvt.keysym.C-V: eval:paste_clipboard
URxvt.letterSpace: -1
URxvt.lineSpace: 1
URxvt.perl-ext-common: eval,selection-to-clipboard
URxvt.pointerBlank: True
URxvt.saveLines: 0
