URxvt.color0: #000000
URxvt.color1: #cd3131
URxvt.color2: #00bc00
URxvt.color3: #949800
URxvt.color4: #0451a5
URxvt.color5: #bc05bc
URxvt.color6: #0598bc
URxvt.color7: #555555
URxvt.color8: #666666
URxvt.color9: #cd3131
URxvt.color10: #14ce14
URxvt.color11: #b5ba00
URxvt.color12: #0451a5
URxvt.color13: #bc05bc
URxvt.color14: #0598bc
URxvt.color15: #a5a5a5
URxvt.foreground: #333333
URxvt.highlightColor: #bfbfbf

URxvt.cutchars: '`"\'&()*,;<=>?@[]^{|}:'
URxvt.font: xft:monospace:size=14
URxvt.internalBorder: 0
URxvt.iso14755: False
URxvt.letterSpace: -1
URxvt.lineSpace: 1
URxvt.perl-ext-common: selection-to-clipboard
URxvt.pointerBlank: True
URxvt.saveLines: 0
